@import './shared/styles/colors.css';
@import './shared/styles/typography.css';
@import './shared/styles/base.css';
@import './shared/styles/posts/idea01.css';
@import './shared/styles/posts/idea02.css';
@import './shared/styles/posts/idea03.css';
@import './shared/styles/posts/idea04.css';
@import './shared/styles/posts/idea05.css';

:global {
  .wrapper {
    margin: 0 1rem 1rem;
    padding: 1rem;
    background-color: var(--colorPanel);
    @media only screen and (min-width: 48em){
      margin: 0 2rem 2rem;
      padding: 2rem;
    }
  }
  .content-wrapper {
    padding: 1rem;
    border: 2px solid var(--colorGray);
    @media only screen and (min-width: 48em){
      padding: 1.5rem;
    }
  }
}
