@import './shared/styles/colors.css';
@import './shared/styles/typography.css';

body {
  box-sizing: border-box;
  *, *::before, *::after {
    box-sizing: inherit;
  }

  background-color: var(--colorMain);

  font-size: calc(var(--fontSize) * 2);
  color: var(--colorText);
  padding: 0;
  margin: 0;
}
