:root {
  --fontSize: 0.8rem;
  @media only screen and (min-width: 48em){
    --fontSize: 1rem;
  }
}

@custom-selector :--heading h1, h2, h3, h4, h5, h6;
:--heading {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: calc(var(--fontSize) * 1.8);
  text-align: center;
  margin-bottom: 1rem;
  @media only screen and (min-width: 48em){
    margin-bottom: 1.5rem;
  }
}
h2 {
  font-size: calc(var(--fontSize) * 1.5);
  margin-bottom: 1rem;
  @media only screen and (min-width: 48em){
    margin-bottom: 1.5rem;
  }
}
