:root {
  --fontSize: 1rem;
}

@custom-selector :--heading h1, h2, h3, h4, h5, h6;
:--heading {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: calc(var(--fontSize) * 1.8);
  margin-bottom: 1.5rem;
  text-align: center;
}
h2 {
  font-size: calc(var(--fontSize) * 1.5);
  margin-bottom: 1.5rem;
}
