:global {
  .confirm {
    width: 80%;
  }

  .button {
    display: block;
    width: 100%;
    max-width: 20rem;
    font-size: 1rem;
    border-style: none;
    background: hsl(40, 98%, 50%);
    color: #fff;
    padding: 0.8em 1em;
    margin: 2rem auto;
  }

  .textbox {
    padding: 1.5rem;
    background-color: hsl(0, 0%, 95%);
  }

  .tags {
    li {
      list-style: none;
      background-color: hsl(0, 0%, 95%);
      border: 2px solid hsl(0, 0%, 90%);
      border-radius: 0.3em;
      margin-top: 0.5rem;
    }
  }
}
