:global {
  .panels {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .panel {
    color: #666;
    flex-basis: calc(100% / 4);
    margin: 0 0.5rem 1rem;
    min-width: 2rem;
    text-align: center;
    background-color: hsl(0, 0%, 90%);
    flex-grow: 1;
    padding: 0.5rem;
    display: flex-inline;
    transition: 0.2s;
    transition-propaty: background-color;
    @media only screen and (min-width: 48em){
      flex-basis: calc(100% / 6);
      padding: 1rem;
    }
  }

  @each $category, $color in (banana, apple, susi), (hsl(60, 70%, 50%), hsl(10, 70%, 80%), hsl(200, 70%, 50%)) {
  }


  .panel[data-category='banana'] {
    &:hover {
      background-color: hsl(60, 70%, 50%);
      color: #fff;
    }
  }
  .js-active.panel[data-category='banana'] {
    background-color: hsl(60, 70%, 50%);
    color: #fff;
  }

  .panel[data-category='apple'] {
    &:hover {
      background-color: hsl(10, 70%, 80%);
      color: #fff;
    }
  }
  .js-active.panel[data-category='apple'] {
    background-color: hsl(10, 70%, 80%);
    color: #fff;
  }

  .panel[data-category='susi'] {
    &:hover {
      background-color: hsl(200, 70%, 50%);
      color: #fff;
    }
  }
  .js-active.panel[data-category='susi'] {
    background-color: hsl(200, 70%, 50%);
    color: #fff;
  }


}
